# Operadores y Tipos de Operadores

¿Qué son los operadores?
- Son un conjunto de símbolos para un lenguaje de programación
- Pueden decirle al compilador o intérprete que ejecute ciertas acciónes para producir un resultado final
- Pueden ser usados para aplicar operaciones en variables o valores 
- Pueden ser clasificado según su tipo (aritmetícos, relacionales, de asignación, lógicos, afiliación y de identidad)

Tipos de operadores 
- Aritmetícos
- Relacioanales
- lógicos
- De Afiliación
- De Identidad

### Operadores Aritmetícos
- "+": Suma
- "-": Resta
- "*": Multipilicación
- "/": División
- "//": División Especial donde el redondeo se hace hacia abajo
- "**": Exponente

In [1]:
# "+" : Suma
num_1 = 500
num_2  = 300
print("El resultado de num_1 + num_2 es igual: ",num_1+num_2)

El resultado de num_1 + num_2 es igual:  800

In [2]:
# "+" : Suma
num_1 = 200
num_2  = 900
print("El resultado de num_1 + num_2 es igual: ",num_1+num_2)

El resultado de num_1 + num_2 es igual:  1100

In [3]:
# "-" : Resta
num_1 = 500
num_2  = 300
print("El resultado de num_1 - num_2 es igual: ",num_1-num_2)

El resultado de num_1 - num_2 es igual:  200

In [4]:
# "-" : Resta
num_1 = 200
num_2  = 900
print("El resultado de num_1 - num_2 es igual: ",num_1-num_2)

El resultado de num_1 - num_2 es igual:  -700

In [5]:
# "*" : Multiplicación
num_1 = 500
num_2  = 300
print("El resultado de num_1 * num_2 es igual: ",num_1*num_2)

El resultado de num_1 * num_2 es igual:  150000

In [6]:
# "*" : Multiplicación 
num_1 = 200
num_2  = 900
print("El resultado de num_1 * num_2 es igual: ",num_1*num_2)

El resultado de num_1 * num_2 es igual:  180000

In [7]:
# "/" : División
num_1 = 500
num_2  = 300
print("El resultado de num_1 / num_2 es igual: ",num_1/num_2)

El resultado de num_1 / num_2 es igual:  1.6666666666666667

In [8]:
# "/" : División
num_1 = 200
num_2  = 900
print("El resultado de num_1 / num_2 es igual: ",num_1/num_2)

El resultado de num_1 / num_2 es igual:  0.2222222222222222

In [9]:
# "//" : División especial se redondea hacia abajo, la parte entera del resultado
num_1 = 500
num_2  = 300
print("El resultado de num_1 // num_2 es igual: ",num_1//num_2)

El resultado de num_1 // num_2 es igual:  1

In [12]:
# "//" : División especial se redondea hacia abajo, la parte entera del resultado
num_1 = 200
num_2  = 900
print("El resultado de num_1 // num_2 es igual: ",num_1//num_2)

El resultado de num_1 // num_2 es igual:  0

In [14]:
# "**" : Exponente(elevar a un exponente)
num_1 = 2
num_2  = 5
print("El resultado de num_1 ** num_2 es igual: ",num_1**num_2) # 2*2*2*2*2

El resultado de num_1 ** num_2 es igual:  32

In [16]:
# "**" : Exponente(elevar a un exponente)
num_1 = 3
num_2  = 3
print("El resultado de num_1 ** num_2 es igual: ",num_1**num_2) # 3*3*3

El resultado de num_1 ** num_2 es igual:  27

### Operadores Relacionales

¿Qué son los operadores relacionales?
- Son también conocidos como Operadores de comparación
- Regresan un valor boleano (Verdader/ Falso)
- En Python son usados para comparar o relacionar los valores
- Verdadero/True, es el resultado cuando la condición es exitosa
- Falso/False, es el resultado cuando la condición no se cumple
- Estos operadores se encargan de las operaciones de comparación

Tipos de Operadores Relacionaels
- "==": igual a
- "!=": si es diferente a
- ">": mayor que otro
- ">=": mayor o igual que
- "<": menor que
- "<=": menor o igual que

In [18]:
# "==": igual a

In [19]:
num_1 = 570 # asignación
num_2 = 420
print("El resultado de num_1 == num_2 es: ",num_1==num_2)

El resultado de num_1 == num_2 es:  False

In [20]:
num_1 = 570 # asignación
num_2 = 570
print("El resultado de num_1 == num_2 es: ",num_1==num_2)

El resultado de num_1 == num_2 es:  True

In [22]:
srt_1 = "Backend Python" # Asignación
srt_2 = "Backend Python"
print("El resultado srt_1 ==srt_2 es: ",srt_1==srt_2)

El resultado srt_1 ==srt_2 es:  True

In [23]:
# "!=": si es diferente a

In [24]:
num_1 = 570 # asignación
num_2 = 420
print("El resultado de num_1 != num_2 es: ",num_1!=num_2)

El resultado de num_1 != num_2 es:  True

In [25]:
num_1 = 570 # asignación
num_2 = 570
print("El resultado de num_1 != num_2 es: ",num_1!=num_2)

El resultado de num_1 != num_2 es:  False

In [26]:
srt_1 = "Backend Python" # Asignación
srt_2 = "Backend Python"
print("El resultado srt_1 !=srt_2 es: ",srt_1!=srt_2)

El resultado srt_1 !=srt_2 es:  False

In [27]:
srt_1 = "Backend Python" # Asignación
srt_2 = "Backend python"
print("El resultado srt_1 !=srt_2 es: ",srt_1!=srt_2)

El resultado srt_1 !=srt_2 es:  True

In [28]:
#">": mayor que otro

In [29]:
num_1 = 570 # asignación
num_2 = 420
print("El resultado de num_1 > num_2 es: ",num_1>num_2)

El resultado de num_1 > num_2 es:  True

In [31]:
num_1 = 570 # asignación
num_2 = 570
print("El resultado de num_1 > num_2 es: ",num_1>num_2)

El resultado de num_1 > num_2 es:  False

In [33]:
num_1 = 570 # asignación
num_2 = 890
print("El resultado de num_1 > num_2 es: ",num_1>num_2)

El resultado de num_1 > num_2 es:  False

In [34]:
#">=": mayor o igual que

In [37]:
num_1 = 570 # asignación
num_2 = 420
print("El resultado de num_1 >= num_2 es: ",num_1>=num_2)

El resultado de num_1 >= num_2 es:  True

In [38]:
num_1 = 570 # asignación
num_2 = 570
print("El resultado de num_1 >= num_2 es: ",num_1>=num_2)

El resultado de num_1 >= num_2 es:  True

In [39]:
num_1 = 570 # asignación
num_2 = 890
print("El resultado de num_1 >= num_2 es: ",num_1>=num_2)

El resultado de num_1 >= num_2 es:  False

In [40]:
#"<": menor que

In [42]:
num_1 = 570 # asignación
num_2 = 420
print("El resultado de num_1 < num_2 es: ",num_1<num_2)

El resultado de num_1 < num_2 es:  False

In [43]:
num_1 = 570 # asignación
num_2 = 570
print("El resultado de num_1 < num_2 es: ",num_1<num_2)

El resultado de num_1 < num_2 es:  False

In [44]:
num_1 = 570 # asignación
num_2 = 920
print("El resultado de num_1 < num_2 es: ",num_1<num_2)

El resultado de num_1 < num_2 es:  True

In [45]:
#"<=": menor o igual que

In [46]:
num_1 = 570 # asignación
num_2 = 420
print("El resultado de num_1 <= num_2 es: ",num_1<=num_2)

El resultado de num_1 <= num_2 es:  False

In [47]:
num_1 = 570 # asignación
num_2 = 570
print("El resultado de num_1 <= num_2 es: ",num_1<=num_2)

El resultado de num_1 <= num_2 es:  True

In [48]:
num_1 = 570 # asignación
num_2 = 920
print("El resultado de num_1 <= num_2 es: ",num_1<=num_2)

El resultado de num_1 <= num_2 es:  True

### Operadores de Asignación

¿Qué son los operadores de asignación?
- En Python son usados para asignar valores a variables
- Incluyen al operador de asignación que es el signo igual(=)

Tipos de Operadores de Asignación: 
- "=": Operador de Asignación
- "+=": Sumar y Asignar
- "-=": Restar y Asignar
- "*=": Multiplicar y Asignar
- "/=": Dividir y Asignar
- "//=" Dividir con redondeo hacia abajo y Asignar
- "%=": Módulo y Asignar
- "**=": Exponente y Asignar

In [50]:
#"=": Operador de Asignación

In [51]:
num_1= 20
mum_2= 3

In [52]:
#"+=": Sumar y Asignar

In [59]:
num_1= 20
num_2= 3
print("num_1 ante de la operación: ", num_1)
num_1+= num_2 # num_1=num1 + num_2
print("num_1 despues de la operación: ",num_1)

num_1 ante de la operación:  20
num_1 despues de la operación:  23

In [60]:
num_1= 20
num_2= 3
print("num_1 ante de la operación: ", num_1)
num_1-= num_2 # num_1=num1 + num_2
print("num_1 despues de la operación: ",num_1)

num_1 ante de la operación:  20
num_1 despues de la operación:  17

In [61]:
num_1= 20
num_2= 3
print("num_1 ante de la operación: ", num_1)
num_1*= num_2 # num_1=num1 * num_2
print("num_1 despues de la operación: ",num_1)

num_1 ante de la operación:  20
num_1 despues de la operación:  60

In [62]:
num_1= 20
num_2= 3
print("num_1 ante de la operación: ", num_1)
num_1/= num_2 # num_1=num1 / num_2
print("num_1 despues de la operación: ",num_1)

num_1 ante de la operación:  20
num_1 despues de la operación:  6.666666666666667

In [65]:
num_1= 20
num_2= 3
print("num_1 ante de la operación: ", num_1)
num_1//= num_2 # num_1=num1 // num_2
print("num_1 despues de la operación: ",num_1)

num_1 ante de la operación:  20
num_1 despues de la operación:  6

In [68]:
# %- Módulo- El Número que queda despues de haber dividido o el residuo
num_1= 20
num_2= 3
print("num_1 ante de la operación: ", num_1)
num_1%= num_2 # num_1=num1 % num_2
print("num_1 despues de la operación: ",num_1)

num_1 ante de la operación:  20
num_1 despues de la operación:  2

In [72]:
# %- Módulo- El Número que queda despues de haber dividido o el residuo
num_1= 20
num_2= 3
print("num_1 ante de la operación: ", num_1)
num_1**= num_2 # num_1=num1 ** num_2
print("num_1 despues de la operación: ",num_1)

num_1 ante de la operación:  20
num_1 despues de la operación:  8000

### Operadores Lógicos

¿Qué son los Operadores Lógicos?
- Son usados principalmente para declaraciones condicionales
- Son indicadores estructurales
- También se les conoce como Conectores Lógicos
- Hay 3 tipos de Operaciones Lógicos:
    - AND (y) - regresa True/Verdadero si ambas operaciones son verdaderas
    - OR (o) -  regresa False/ Verdadero si por lo menos una de las operaciones es verdadera
    - NOT (lo opuesto) - regresa Tue/Verdader si la operaciones es False/Falso

In [ ]:
# and
# todas las condiciones deben de ser Verdaderas

In [74]:
num_1 = 11
num_2 = 55
# num_1 <= num_2:  True/ Verdadero
# num_1!= num_2: True/ Verdero

print("num_1 <= num_2 and num_1 != num_2", num_1 <= num_2 and num_1 != num_2)

num_1 <= num_2 and num_1 != num_2 True

In [1]:
num_1 = 11
num_2 = 11
# num_1 <= num_2:  True/ Verdadero
# num_1!= num_2: False/ Falso 
print("num_1 <= num_2 and num_1 != num_2", num_1 <= num_2 and num_1 != num_2)

num_1 <= num_2 and num_1 != num_2 False

In [3]:
num_1 = 11
num_2 = 55
# num_1 <= num_2:  True/ Verdadero
# num_1!= num_2: True/  Verdadero
# num_1 > 10: True/ Verdero 
print("num_1 <= num_2 and num_1 != num_2 and num_1> 10", num_1 <= num_2 and num_1 != num_2 and num_1 > 10)

num_1 <= num_2 and num_1 != num_2 and num_1> 10 True

In [4]:
num_1 = 11
num_2 = 11
# num_1 <= num_2:True/ Verdadero
# num_1!= num_2:False/ Falso
# num_1 > 10:True/ Verdadero 
print("num_1 <= num_2 and num_1 != num_2 and num_1> 10", num_1 <= num_2 and num_1 != num_2 and num_1 > 10)

num_1 <= num_2 and num_1 != num_2 and num_1> 10 False

In [ ]:
# OR (o). con  que una de las condiciones se cumpla regresa True

In [6]:
num_1 = 11
num_2 = 55
# num_1 <= num_2:  True/ Verdadero
# num_1!= num_2: True/ Verdero

print("num_1 <= num_2 and num_1 != num_2", num_1 <= num_2 or num_1 != num_2)

num_1 <= num_2 and num_1 != num_2 True

In [7]:
num_1 = 11
num_2 = 11
# num_1 <= num_2:  True/ Verdadero
# num_1!= num_2: True/ Verdero

print("num_1 <= num_2 or num_1 != num_2", num_1 <= num_2 or num_1 != num_2)

num_1 <= num_2 and num_1 != num_2 True

In [8]:
num_1 = 11
num_2 = 55
# num_1 <= num_2:  True/ Verdadero
# num_1!= num_2: True/  Verdadero
# num_1 > 10: True/ Verdero 
print("num_1 <= num_2 or num_1 != num_2 or num_1> 10", num_1 <= num_2 or num_1 != num_2 or num_1 > 10)

num_1 <= num_2 or num_1 != num_2 or num_1> 10 True

In [ ]:
# NOT (lo opuesto)
# La condición debe ser Falsa

In [9]:
num_1 = 11
num_2 = 55
# num_1 <= num_12: True/ Verdadero
print("not num_1<=num_2", not num_1 <= num_2)

not num_1<=num_2 False

In [10]:
num_1 = 11
num_2 = 55
# num_1 <= num_12: True/ Verdadero
print("not num_1!=num_2", not num_1 != num_2)

not num_1!=num_2 False

In [11]:
num_1 = 11
num_2 = 55
# num_1 <= num_12: True/ Verdadero
print("not num_1>num_2", not num_1 > num_2)

not num_1>num_2 True

## Operadores de afiliación

- ¿ Que son los operadores de afiliación ?
- Validan su una variable esta presente en una secuencia
- Regresan un valor booleano con el resultado True/False
- Regresan True/Verdadero si el valor está prsente en la secuencia
- Regresan False/Falso si el valor no está presente en la secuencia
- Hay 2 operaciones de afiliación:
- IN - el valor está en la secuencia
- NOT IN -el valor no está en la secuencia

In [ ]:
# IN: ¿El valor está presente en la secuencia?

In [1]:
my_string = "Backend Python"
print("'a' in my_string",'a' in my_string)

'a' in my_string True

In [13]:
my_string = "Backend Python"
print("'i' in my_string",'i' in my_string)

'i' in my_string False

In [14]:
my_list= [1,154,321,22,11]
print("5 in my_list",5 in my_list)

5 in my_list False

In [15]:
my_list= [1,154,321,22,11,5]
print("5 in my_list",5 in my_list)

5 in my_list True

In [3]:
my_set={1,154,321,22,11,5,11,22,5,1}
print("5 in my_set", 5 in my_set)

5 in my_set True

In [4]:
my_set

{1, 5, 11, 22, 154, 321}

In [ ]:
#NOT IN: ¿El valor NO está presente en la secuencia?

In [5]:
my_string="Backend Python"
print("'a' not in my_string", 'a' not in my_string)

'a' not in my_string False

In [6]:
my_string="Backend Python"
print("'i' not in my_string", 'i' not in my_string)

'i' not in my_string True

In [7]:
my_list= [1,154,321,22,11]
print("5 not in my_list",5 not in my_list)

5 not in my_list True

In [8]:
my_list= [1,154,321,22,11,5]
print("5 not in my_list",5 not in my_list)

5 not in my_list False

In [9]:
my_set={1,154,321,22,11,5,11,22,5,1}
print("5 not in my_set", 5 not in my_set)

5 not in my_set False

## Operadores de Identidad

¿Qué son los operadores de identidad?
- Son usados para comparar la ubicación den memeria de dos objetos
- Se utlizan para validar si los valores comparten el mismo espacio de memoria o no
- Regresa True/Verdadero si locomparten, y regresa False/Falso si no lo comparten
- Hay 2 operadores de Idenridad
     - IS
     - IS NOT

In [ ]:
# IS

In [2]:
num_1 = 11
num_2= 55
print("num_1 is num_2", num_1 is num_2)

num_1 is num_2 False

In [12]:
num_1 = 11
num_2= 11
print("num_1 is num_2", num_1 is num_2)

num_1 is num_2 True

In [ ]:
#IS NOT

In [13]:
num_1 = 11
num_2= 55
print("num_1 is not num_2", num_1 is not num_2)

num_1 is not num_2 True

In [14]:
num_1 = 77
num_2= 77
print("num_1 is not num_2", num_1 is not num_2)

num_1 is not num_2 False

## Conversión de Tipos

¿Qué es la conversión de Tipos?
- Es el proceso de conversión a un tipo de dato a otro tipo de dato
- Es un paso muy importante para combinar multiples fuentes de datos en un formato especifico.
- Hay 2 tipos:
    - Conversión Implícita: hecha de forma automática por el intérprete de python 
    - Conversión Explicita

In [3]:
# conversión Implícita

In [4]:
14+2.0

16.0

In [5]:
14+2.0+3

19.0

In [ ]:
# Conversión Explícita

In [6]:
int(199.99)

199

In [7]:
float(58)

58.0

In [8]:
complex(4)

(4+0j)

##  Conversión int

In [9]:
int(10.78) # float a int

10

In [10]:
int(False) # bool a int

0

In [11]:
int(True) # bool a int

1

In [12]:
int(5+3j) #

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [14]:
int("120") # string a int

120

In [15]:
#error
int("120.5") # string a int

ValueError: invalid literal for int() with base 10: '120.5'

### Conversión float

In [16]:
float(23) # int a float

23.0

In [17]:
#error
float(23+3j) # complex a float

TypeError: float() argument must be a string or a real number, not 'complex'

In [18]:
float(True)# bool a float

1.0

In [19]:
float(False) # bool a float

0.0

In [20]:
float("843.29") # string a float

843.29

In [23]:
float("120") # string a float

120.0

In [24]:
#error
float("120t") # string a float

ValueError: could not convert string to float: '120t'

In [25]:
#error
float("True") # string a float

ValueError: could not convert string to float: 'True'

### Converiónes complex

In [26]:
complex(42) # int a complex

(42+0j)

In [28]:
complex(12.1) # float a complex

(12.1+0j)

In [29]:
complex(True) # bool a complex

(1+0j)

In [30]:
complex(False) # bool a complex

0j

In [31]:
complex("24") # string a complex

(24+0j)

In [32]:
complex("24.5") # string a complex

(24.5+0j)

In [35]:
#error
complex("Bankend") # string a complex

ValueError: complex() arg is a malformed string

In [36]:
#Error
complex("10c") # string a complex

ValueError: complex() arg is a malformed string

In [37]:
complex("10j") # string a complex

10j

In [38]:
#Error
complex("10i") # string a complex

ValueError: complex() arg is a malformed string

### Conversiones bool

In [39]:
bool(1) # int a bool

True

In [40]:
bool(0) # int a bool

False

In [41]:
bool(1.8) #float a bool

True

In [42]:
bool(-1.8) #float a bool

True

In [43]:
bool(0.0) #float a bool

False

In [44]:
bool(0+3j) #complex a bool

True

In [45]:
bool(0+0j) #complex a bool

False

In [46]:
bool("python") # string a bool

True

In [47]:
bool(" ")# string a bool

True

In [48]:
bool("")# string a bool

False

In [49]:
bool("0")# string a bool

True

### conversiones str

In [50]:
str(26)# int a str

'26'

In [51]:
str(25.3) # float a str

'25.3'

In [53]:
str(6+8j) # complex a str

'(6+8j)'

In [54]:
str(True)# bool a str

'True'

In [55]:
str(False) # bool a str

'False'

# Funciones Básicas

### trunc()

In [58]:
num_1= 64.99
num_2= 64.5
num_3= 64.51
num_4= 64.000000000001
print("num_1:", num_1)
print("num_2:", num_2)
print("num_3:", num_3)
print("num_4:", num_4)

num_1: 64.99
num_2: 64.5
num_3: 64.51
num_4: 64.000000000001

In [60]:
from math import trunc
num_1= 64.99
num_2= 64.5
num_3= 64.51
num_4= 64.000000000001
print("trunc(num_1):", trunc(num_1))
print("trunc(num_2):", trunc(num_2))
print("trunc(num_3):", trunc(num_3))
print("trunc(num_4):", trunc(num_4))

trunc(num_1): 64
trunc(num_2): 64
trunc(num_3): 64
trunc(num_4): 64

### round(), ceil() y floor()

In [61]:
# round
num_1= 64.99
num_2= 64.5
num_3= 64.51
num_4= 64.000000000001
print("round(num_1):", round(num_1))
print("round(num_2):", round(num_2))
print("round(num_3):", round(num_3))
print("round(num_4):", round(num_4))

round(num_1): 65
round(num_2): 64
round(num_3): 65
round(num_4): 64

In [64]:
# ceil - redondeo hacia arriba
from math import ceil
num_1= 64.99
num_2= 64.5
num_3= 64.51
num_4= 64.000000000001
print("ceil(num_1):", ceil(num_1))
print("ceil(num_2):", ceil(num_2))
print("ceil(num_3):", ceil(num_3))
print("ceil(num_4):", ceil(num_4))

ceil(num_1): 65
ceil(num_2): 65
ceil(num_3): 65
ceil(num_4): 65

In [65]:
# ceil - redondeo hacia abajo
from math import floor
num_1= 64.99
num_2= 64.5
num_3= 64.51
num_4= 64.000000000001
print("floor(num_1):", floor(num_1))
print("floor(num_2):", floor(num_2))
print("floor(num_3):", floor(num_3))
print("floor(num_4):", floor(num_4))

floor(num_1): 64
floor(num_2): 64
floor(num_3): 64
floor(num_4): 64

### Función %

In [71]:
num_1= 64.99
num_2= 64.5
num_3= 64.51
num_4= 64.000000000001
print("'%.1f' % num_1:",'%.1f' % num_1)
print("'%.3f' % num_2:",'%.3f' % num_2)
print("'%.4f' % num_3:",'%.4f' % num_3)
print("'%.5f' % num_4:",'%.5f' % num_4)

'%.1f' % num_1: 65.0
'%.3f' % num_2: 64.500
'%.4f' % num_3: 64.5100
'%.5f' % num_4: 64.00000

### Format()

In [74]:
num_1= 64.99
num_2= 64.5
num_3= 64.51
num_4= 64.000000000001
print("'{:.1f}'.format(num_1):",'{:.1f}'.format(num_1))
print("'{:.3f}'.format(num_2):",'{:.3f}'.format(num_2))
print("'{:.4f}'.format(num_3):",'{:.4f}'.format(num_3))
print("'{:.5f}'.format(num_4):",'{:.5f}'.format(num_4))

'{:.1f}'.format(num_1): 65.0
'{:.3f}'.format(num_2): 64.500
'{:.4f}'.format(num_3): 64.5100
'{:.5f}'.format(num_4): 64.00000